* {
  box-sizing: border-box;
  margin: 0px;
}

.box1 {
  height: 200px;
  width: 200px;
  border: 10px ridge grey;
  margin: 0px 0px 0px 0px;
  display: inline-block;
}

.box2 {
  height: 200px;
  width: 200px;
  border: 10px ridge grey;
  margin: 0px 0px 0px 20px;
  display: inline-block;
}
